sudo: false
language: python
python:
    - 2.7
    - 3.3
    - 3.4
    - 3.5
env:
    - ASYNC_TEST_TIMEOUT=10
before_install:
    - git clone --quiet --depth 1 https://github.com/minrk/travis-wheels travis-wheels
install:
    - python setup.py bdist_wheel sdist
    - pip install -f travis-wheels/wheelhouse dist/*.whl
    - rm -rf travis-wheels
    - pip install coverage
    - pip freeze
script:
    - jupyter kernelgateway --help
    - nosetests -x --process-restartworker --with-coverage --cover-package=kernel_gateway
    - pip uninstall -y jupyter_kernel_gateway
