global
    maxconn 4096
    daemon
    log stdout format raw local0

defaults
    log global
    option httplog
    mode http
    option  http-server-close
    option  dontlognull
    option  redispatch
    option  contstats
    retries 3
    backlog 10000
    timeout client          25s
    timeout connect          5s
    timeout server          25s
    timeout tunnel        3600s
    timeout http-keep-alive  1s
    timeout http-request    15s
    timeout queue           30s
    timeout tarpit          60s
    default-server inter 3s rise 2 fall 3
    option forwardfor

listen stats
    bind :9088
    mode http
    stats enable
    stats refresh 10s
    stats realm Haproxy\ Statistics
    stats show-node
    stats uri /

resolvers docker
    nameserver dns 127.0.0.11:53
    hold valid 1s

frontend proxy
    bind 0.0.0.0:8888 maxconn 10000
    option forwardfor
    default_backend enterprise-gateway

backend enterprise-gateway
    dynamic-cookie-key ENTERPRISE_KEY
    cookie SRVID insert dynamic
    server-template enterprise-gateway 2 enterprise-gateway:8888 check resolvers docker
