# This file defines the Kubernetes objects necessary for Enterprise Gateway kernels to run witihin Kubernetes.
#
# Kernelspecs (of which some scripts may be required) can be exposed via a PersistentVolume (and
# corresponding PersistentVolumeClaim) which will be assumed to already exist (created by Enterprise Gateway's
# startup).  If in use, the volumeMounts and volumes stanzas should be uncommented below.
#
apiVersion: v1
kind: Pod
metadata:
  name: $kernel_username-$kernel_id
  namespace: $namespace
  labels:
    kernel_id: $kernel_id
    app: enterprise-gateway
    component: kernel
spec:
  restartPolicy: Never
  containers:
  - env:
    - name: EG_RESPONSE_ADDRESS
      value: $response_address
    - name: KERNEL_CONNECTION_FILENAME
      value: $connection_filename
    - name: KERNEL_LANGUAGE
      value: $language
    - name: KERNEL_NO_SPARK_CONTEXT_OPT
      value: $no_spark_context_opt
    - name: KERNEL_USERNAME
      value: $kernel_username
    - name: KERNEL_ID
      value: $kernel_id
    - name: KERNEL_NAMESPACE
      value: $namespace
    image: $docker_image
    name: $kernel_username-$kernel_id
    command: ["/etc/bootstrap-kernel.sh"]
# Uncomment to enable PV for kernelspecs
#    volumeMounts:
#    - mountPath: /usr/local/share/jupyter/kernels
#      name: kernelspecs
#  volumes:
#  - name: kernelspecs
#    persistentVolumeClaim:
#      claimName: kernelspecs-pvc
