# https://github.com/miyakogi/m2r/issues/66
mistune<4
myst-parser
pydata_sphinx_theme
sphinx
sphinx-markdown-tables
sphinx_book_theme
sphinxcontrib-mermaid
sphinxcontrib-openapi
sphinxcontrib_github_alt
sphinxcontrib_spelling
sphinxemoji
tornado
