{{- if .Values.remoteKubeconfig.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-configmap
data:
  {{- (tpl (.Files.Glob "config/*").AsConfig . ) | nindent 2 }}
{{- end }}