# https://github.com/sphinx-doc/sphinx/issues/10291
jinja2<3.1
# https://github.com/miyakogi/m2r/issues/66
mistune<1
myst-parser
pydata_sphinx_theme
sphinx
sphinxcontrib-openapi
sphinxcontrib_github_alt
sphinxemoji
sphinx_book_theme
sphinx-markdown-tables
tornado
