jinja2
myst-parser<0.17  # 0.17 has issues with forward-referenced links
pydata_sphinx_theme
sphinxcontrib-openapi
sphinxcontrib_github_alt
sphinxemoji
sphinx_book_theme
sphinx-markdown-tables
tornado
